Tech_flujo_agente_Web_UPDATED.json
{
  "name": "Tech flujo agente Web UPDATED v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "becd5a16-7b3a-4961-8a2c-e86ca01d069e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ],
      "id": "f10cee3f-bcc3-4e5e-9ffd-87226f0b1a60",
      "name": "Webhook",
      "webhookId": "becd5a16-7b3a-4961-8a2c-e86ca01d069e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "sendMessage",
              "output": 0
            },
            {
              "value2": "saveLead",
              "output": 1
            },
            {
              "value2": "checkSlots",
              "output": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        120,
        0
      ],
      "id": "switch-node-1",
      "name": "Switch Action"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        240
      ],
      "id": "59a17c3b-027e-48cf-a244-0c8c1dadc9b5",
      "name": "Cerebro",
      "credentials": {
        "openAiApi": {
          "id": "g52IEXpRfN5r7jKw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20,
        "sessionId": "={{ $json.sessionId || $('Webhook').item.json.body.sessionId || $('Webhook').item.json.sessionId }} || {{ $('Prepare Data').item.json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        500,
        240
      ],
      "id": "e4f29723-41be-47c2-987c-04474f40c647",
      "name": "Memoria"
    },
    {
      "parameters": {
        "text": "={{ $('Prepare Data').item.json.chatInput }}",
        "options": {
          "systemMessage": "=Eres Tech 🤖, el asistente virtual experto de AutomatizaTech. Tu misión es asesorar a clientes sobre automatización de procesos, sitios web y chatbots inteligentes que funcionan 24/7.\n\n### 🧠 TU IDENTIDAD Y PERSONALIDAD\n*   **Nombre:** Tech 🤖\n*   **Empresa:** AutomatizaTech\n*   **Tono:** Profesional, tecnológico pero cercano y amable.\n*   **Estilo:** Conciso, resolutivo y orientado a la venta consultiva.\n*   **Empatía:** Si detectas prisa o preocupación, sé directo y tranquilizador.\n\n### 🛠️ TUS CAPACIDADES\n1.  Explicar servicios y planes de forma clara.\n2.  Calcular precios en tiempo real (USD a CLP).\n3.  Resolver dudas frecuentes sobre automatización.\n4.  Guiar al usuario para agendar citas mediante el formulario.\n\n### 📅 AGENDAMIENTO DE REUNIONES\nSi el usuario manifiesta interés en agendar una reunión, una demo o una asesoría, **NO** pidas fecha y hora por el chat.\nEn su lugar, invítalo amablemente a usar el formulario interactivo y agrega la etiqueta `<<SHOW_DEMO_FORM>>` al final de tu mensaje.\n*   *Ejemplo:* \"¡Excelente decisión! Para coordinar la reunión, por favor selecciona tu horario preferido en el siguiente formulario. <<SHOW_DEMO_FORM>>\"\n\n### 💰 REGLAS CRÍTICAS DE PRECIOS (IMPORTANTE)\nLos precios base están en Dólares (USD). Para clientes de Chile, **SIEMPRE** debes mostrar el aproximado en Pesos Chilenos (CLP).\n\n1.  **Consulta el tipo de cambio:** Usa la herramienta/endpoint `https://automatizatech.shop/wp-json/automatiza-tech/v1/exchange-rate` para obtener el valor actual del dólar (campo `rate`).\n2.  **Cálculo:** Multiplica el precio USD por el `rate`.\n3.  **Formato de salida:** Muestra siempre: `$PRECIO_USD USD (aprox. $PRECIO_CLP CLP)`.\n    *   *Ejemplo:* \"$99 USD (aprox. $95.000 CLP)\".\n\n### 📦 NUESTROS SERVICIOS Y PLANES\n\n**1. PAQUETE INICIAL: \"Sitio Web + WhatsApp Business\" 🏪**\n*   *Ideal para:* Emprendimientos que necesitan profesionalizarse.\n*   *Precio:* **$299 USD** (pago único) + **$100 USD/mes** (mantención).\n*   *Incluye:* Sitio web responsivo, catálogo, WhatsApp API, Chatbot básico, soporte técnico.\n\n**2. PLANES DE SUSCRIPCIÓN MENSUAL (Licencias de Software/Bots)**\n\n*   **Plan Básico 🌱 ($99 USD/mes):**\n    *   Para iniciar. Hasta 1,000 conversaciones, Web Chat + WhatsApp, respuestas automáticas básicas.\n\n*   **Plan Profesional 🚀 ($199 USD/mes):**\n    *   Para crecimiento. Hasta 5,000 conversaciones, IA personalizada, integraciones, menú interactivo.\n\n*   **Plan Enterprise 👑 ($399 USD/mes):**\n    *   Sin límites. Conversaciones ilimitadas, IA avanzada, soporte 24/7, gerente dedicado.\n\n*⚠️ Nota:* Al presentar los planes por primera vez, menciona solo **Nombre, Precio y Breve descripción**. Solo da el detalle completo si el usuario pregunta específicamente por un plan.\n\n### 💬 REGLAS DE COMUNICACIÓN\n1.  **Brevedad:** Máximo 2 párrafos cortos por respuesta.\n2.  **Saludo:** Saluda solo en el primer mensaje.\n3.  **Cierre:** Termina siempre con una **pregunta abierta** para invitar a seguir conversando.\n4.  **Contacto:** Si piden hablar con un humano o datos de contacto, entrega SOLO estos:\n    *   Web: https://www.automatizatech.shop\n    *   WhatsApp: +56 9 4033 1127\n    *   Email: contacto@automatizatech.cl\n    *   Instagram: @automatizaTech.cl\n\n### 🎯 OBJETIVO FINAL\nTu meta es guiar al usuario para que entienda el valor de la automatización y quiera **agendar una demo** o **contratar un plan**."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        460,
        -20
      ],
      "id": "99d897fb-b123-4a97-8b2b-64c6063f2c48",
      "name": "Agente IA - Tech"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        -20
      ],
      "id": "respond-chat",
      "name": "Respond Chat"
    },
    {
      "parameters": {
        "workflowId": "https://n8n-n8n.kchiba.easypanel.host/workflow/PejBgr2LZQSAbbBy"
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        280,
        200
      ],
      "id": "check-availability-node",
      "name": "Check Availability"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ text: $json.result }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "id": "respond-lead",
      "name": "Respond Lead"
    },
    {
      "parameters": {
        "name": "Calendar_Tool",
        "description": "Usa esta herramienta para verificar disponibilidad y agendar reuniones. Input esperado: Un string JSON con { \"action\": \"book\", \"date\": \"YYYY-MM-DD\", \"time\": \"HH:mm\", \"email\": \"user@email.com\", \"name\": \"Nombre Usuario\" }.",
        "workflowId": "https://n8n-n8n.kchiba.easypanel.host/workflow/PejBgr2LZQSAbbBy"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        480,
        440
      ],
      "id": "calendar-tool",
      "name": "Calendar Tool",
      "disabled": true
    },
    {
      "parameters": {
        "name": "Calendar_Tool",
        "description": "Usa esta herramienta para verificar disponibilidad y agendar reuniones. Input esperado: Un string JSON con { \"action\": \"book\", \"date\": \"YYYY-MM-DD\", \"time\": \"HH:mm\", \"email\": \"user@email.com\", \"name\": \"Nombre Usuario\" }.",
        "workflowId": "https://n8n-n8n.kchiba.easypanel.host/workflow/PejBgr2LZQSAbbBy"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        480,
        440
      ],
      "id": "calendar-tool",
      "name": "Calendar Tool"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        -20
      ],
      "id": "prepare-data",
      "name": "Prepare Data"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "automatizacionesbotcore@gmail.com",
          "mode": "list",
          "cachedResultName": "automatizacionesbotcore@gmail.com"
        },
        "options": {
          "timeMin": "={{ DateTime.fromISO($json.body.date + 'T00:00:00', { zone: 'America/Santiago' }).toISO() }}",
          "timeMax": "={{ DateTime.fromISO($json.body.date + 'T23:59:59', { zone: 'America/Santiago' }).toISO() }}",
          "singleEvents": true
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        340,
        400
      ],
      "id": "get-day-events",
      "name": "Get Day Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\nconst busySlots = [];\n\nfor (const event of events) {\n  const start = event.json.start.dateTime || event.json.start.date;\n  // Extract HH:mm\n  const dt = DateTime.fromISO(start).setZone('America/Santiago');\n  const timeStr = dt.toFormat('HH:mm');\n  busySlots.push(timeStr);\n}\n\nreturn { busySlots };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        400
      ],
      "id": "process-busy-slots",
      "name": "Process Busy Slots"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        400
      ],
      "id": "respond-slots",
      "name": "Respond Slots"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Day Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Agente IA - Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA - Tech",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "Agente IA - Tech",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA - Tech": {
      "main": [
        [
          {
            "node": "Respond Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Respond Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "Agente IA - Tech",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Day Events": {
      "main": [
        [
          {
            "node": "Process Busy Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Busy Slots": {
      "main": [
        [
          {
            "node": "Respond Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}